*{
    margin: 0;
    padding: 0;
}

.main-page{
    width: 70%;
    margin: 50px auto ;
    border: 2px solid black;  
}

/* <!-- Start Section 1 -->*/


.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.headings h1{
    border-bottom: 2px solid black;
    font-size: 25px;
}
.headings p{
    padding-top: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}
.headings h3{
    padding-top: 50px;
}



/* <!-- End Section 1 -->



<!-- Start Section 2 --> */




.content{
    padding-top: 50px;
    margin: 0px 10%;
    margin-bottom: 30px;
}
.content p{
    line-height: 20px;
    font-size: 18px;
}
.content h3{
    font-weight: 1000;
}




/* <!-- End Section 2 -->



<!-- Start Section 3 --> */




.form{
    padding-top: 10%;
    margin: 0px 10%;
    padding-bottom: 100px;
}
.form-content{
    padding-top: 15px;
}
.form-content label{
    font-weight: 1000;
}
.form-content input{
    border: none;
    border-bottom: 2px solid black;
    width: 42%;
    padding: 10px 2px;
}



         /* <!-- End Section 3 --> */ 
         /*
         /*
         /*
         /*
         /* <!-- Responsiveness --> */  




@media only screen and (min-width: 900px) and (max-width: 1200px) {
    /* body{
        background-color: antiquewhite;
    } */
    .main-page{
        width: 90%;
        margin: 50px auto ;
    }
    .headings h1{
        font-size: 22px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 17px;
    }
    .headings h3{
        padding-top: 50px;
    }

    /* Start Section 2 */

    .content{
        padding-top: 50px;
        margin: 0px 9%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 18px;
    }
    .content h3{
        font-weight: 1000;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 5%;
        margin: 0px 9%;
        padding-bottom: 100px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 42%;
        padding: 10px 2px;
    }
    /* <!-- End Section 3  */

       
}

@media only screen and (min-width: 650px) and (max-width: 899px) {
    /* body{
        background-color: rgb(151, 148, 143);
    } */
    .main-page{
        width: 90%;
        margin: 40px auto ;
    }
    .headings{
        padding-top: 40px;
    }
    .headings h1{
        font-size: 22px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 16px;
    }
    .headings h3{
        padding-top: 50px;
    }

    /* Start Section 2 */

    .content{
        padding-top: 50px;
        margin: 0px 8%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 17px;
    }
    .content h3{
        font-weight: 1000;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 5%;
        margin: 0px 8%;
        padding-bottom: 80px;
    }
    .form h3{
        font-size: 18px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 40%;
        padding: 10px 2px;
    }
    /* <!-- End Section 3  */
       
}

@media only screen and (min-width: 460px) and (max-width: 649px) {
    /* body{
        background-color: rgb(233, 203, 153);
    } */
    .main-page{
        width: 95%;
        margin: 30px auto ;
    }
    .headings{
        padding-top: 30px;
    }
    .headings h1{
        font-size: 19px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 14px;
    }
    .headings h3{
        padding-top: 35px;
    }

    /* Start Section 2 */

    .content{
        padding-top: 35px;
        margin: 0px 6%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 16px;
    }
    .content h3{
        font-weight: 1000;
        font-size: 17px;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 5%;
        margin: 0px 6%;
        padding-bottom: 60px;
    }
    .form h3{
        font-size: 17px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 35%;
        padding: 9px 2px;
    }
    /* <!-- End Section 3  */
       
}

@media only screen and (min-width: 360px) and (max-width: 459px) {
    /* body{
        background-color: rgb(100, 93, 81);
    } */
    .main-page{
        width: 95%;
        margin: 20px auto ;
    }
    .headings{
        padding-top: 25px;
    }
    .headings h1{
        font-size: 16px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 12px;
    }
    .headings h3{
        padding-top: 40px;
        font-size: 16px;
    }

    /* Start Section 2 */

    .content{
        padding-top: 40px;
        margin: 0px 5%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 16px;
    }
    .content h3{
        font-weight: 1000;
        font-size: 16px;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 5%;
        margin: 0px 5%;
        padding-bottom: 50px;
    }
    .form h3{
        font-size: 16px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 30%;
        padding: 8px 2px;
    }
    /* <!-- End Section 3  */
       
}

@media only screen and (min-width: 270px) and (max-width: 359px) {
    /* body{
        background-color: rgb(180, 172, 157);
    } */
    .main-page{
        width: 95%;
        margin: 20px auto ;
    }
    .headings{
        padding-top: 25px;
    }
    .headings h1{
        font-size: 12px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 13px;
    }
    .headings h3{
        padding-top: 25px;
        font-size: 14px;
    }

    /* Start Section 2 */

    .content{
        padding-top: 25px;
        margin: 0px 4%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 14px;
    }
    .content h3{
        font-weight: 1000;
        font-size: 14px;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 1%;
        margin: 0px 6%;
        padding-bottom: 30px;
    }
    .form h3{
        font-size: 15px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 26%;
        padding: 7px 2px;
    }
    /* <!-- End Section 3  */
       
}

@media only screen and (max-width: 269px) {
    /* body{
        background-color: rgb(143, 138, 128);
    } */
    .main-page{
        width: 95%;
        margin: 20px auto ;
    }
    .headings{
        padding: 25px 5px 0px 5px;     
    }
    .headings h1{
        font-size: 10px;
    }
    .headings p{
        padding-top: 10px;
        line-height: 20px;
        font-size: 12px;
    }
    .headings h3{
        padding-top: 25px;
        font-size: 12px;
    }
    /* Start Section 2 */

    .content{
        padding-top: 25px;
        margin: 0px 4%;
        margin-bottom: 30px;
    }
    .content p{
        line-height: 20px;
        font-size: 13px;
    }
    .content h3{
        font-weight: 1000;
        font-size: 13px;
    }

    /* End Section 2 */

    /* <!-- Start Section 3  */

    .form{
        padding-top: 1%;
        margin: 0px 6%;
        padding-bottom: 30px;
    }
    .form h3{
        font-size: 14px;
    }
    .form-content{
        padding-top: 15px;
    }
    .form-content label{
        font-weight: 1000;
    }
    .form-content input{
        border: none;
        border-bottom: 2px solid black;
        width: 25%;
        padding: 6px 2px;
    }
    /* <!-- End Section 3  */
       
}